@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select,
textarea {
  color: #777777;
}

.upload-icon {
  position: relative;
}
select {
  appearance: none;
}
.upload-icon::after {
  content: url(/src/assets/upload-icon.png);
  content: "";
  background-image: url(/src/assets/upload-icon.png);
  position: absolute;
  right: 5px;
  top: 13px;
  width: 20px;
  height: 20px;
  /* background: red; */
  z-index: 99999;
  /* font-size: 20px; */
  background-size: 100%;
  background-repeat: no-repeat;
  pointer-events: none;
}

:-webkit-file-upload-button {
  display: none;
}
::file-selector-button {
  display: none;
}

input[type="file"]::file-selector-button {
  display: none;
}

input[type="file"]:focus {
  outline: none;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
}

label {
  cursor: pointer;
}

.down-icon::after {
  content: url(/src/assets/down-icon.png);
  content: "";
  background-image: url(/src/assets/down-icon.png);
  position: absolute;
  right: 5px;
  top: 17px;
  width: 20px;
  height: 20px;
  z-index: 99999;
  background-size: 100%;
  background-repeat: no-repeat;
  pointer-events: none;
}
